@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center-left">
    <h1 class="display-4"><b>Welcome</b></h1>
    <br />
    <p>In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of “Putting First Things First”, <br />
        and suggests that Tasks on the To Do list be broken out into four Quadrants: <br />
        
		<img src="~/img/newbookpic.jpg" height="300"/>
        <br />Quadrant I:  Important / Urgent<br /> 
        Quadrant II:  Important / Not Urgent <br />Quadrant III:  Not Important / Urgent <br /> Quadrant IV:  Not Important / Not Urgent </p>
	
    
</div>
